<main class="container">
  <div class="table-responsive">
    <table
      class="table table-striped table-hover table-borderless table-dark align-middle"
    >
      <thead class="table-secondary">
        <caption>Cart</caption>
        <tr>
          <th>Product Image</th>
          <th>Product Name</th>
          <th>Product Price</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr class="table-primary">
          <td scope="row">Item</td>
          <td>Item</td>
          <td>Item</td>
          <td>Item</td>
          <td>Item</td>
        </tr>
        <tr class="table-primary">
          <td scope="row">Item</td>
          <td>Item</td>
          <td>Item</td>
          <td>Item</td>
          <td>Item</td>
        </tr>
      </tbody>
      <tfoot>

      </tfoot>
    </table>
  </div>
</main>