<main class="container">
<div class="text-center m-5 p-5"><h1>Thanks for your order!</h1>
  <p>
    We appreciate your business! If you have any questions, please contact us at contact info at the bottom of this page.
  </p>
</div>
<p>
  {{!-- IN DEVELOPMENT --}}
  {{!-- <table
    class="table-primary table table-striped table-hover table-borderless table-dark align-middle"
  >
    <thead
      class="table-primary table table-striped table-hover table-borderless table-dark align-middle"
    >
      <tr>
        <th>Product Image</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Quantity</th>

      </tr>
    </thead>
    <tbody> <tr></tr></tbody>
    <tfoot>
      <tr>
        <th>Count x </th>
        <th class="counted"> </th>
        <th>Total Price £ </th>
        <th class="totaled"> </th>
      </tr>
    </tfoot>
  </table>
  --}}
</p> 

</main>