<div class="position-relative overflow-hidden p-1 mb-1 m-5 text-center">
  <div>
    <h1 class="display-6 fw-normal">Contact Us</h1>
    <p class="m-5 p-5">We value your feedback and are here to assist you.<br />
      If you have any questions, concerns, or suggestions, please don't hesitate
      to reach out to us.<br />
      Our dedicated customer support team is available to provide the assistance
      you need.
    </p>
    <div class="m-5">
    <p>Customer Support:</p>
    <div>Phone: <a class="abouttext" href="tel:+4473-7358-5555">+4473-7358-5555</a></div>
    <div>Email: <a
        class="abouttext"
        href="mailto:mylittlewebshop@shop.com"
        type="email"
      >mylittlewebshop@shop.com</a></div>
    <p>Hours: 09:00 - 17:00</p>
</div>
    <a class="btn btn-outline-secondary" href="/">Go Back</a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div
    class="product-device product-device-2 shadow-sm d-none d-md-block"
  ></div>
</div>