<div class="py-5 text-center container">
<main class="form-signin w-25 m-auto p-3">
  <form id="signupForm">
    
    <h1 class="h3 mb-3 fw-normal">Sign Up</h1>
    <div class="form-floating">
      <input type="text" class="form-control" id="first_name" placeholder="John">
      <label for="floatingInput">First name</label>
    </div>
        <div class="form-floating">
      <input type="text" class="form-control" id="last_name" placeholder="John">
      <label for="floatingInput">Last name</label>
    </div>
    <div class="form-floating">
      <input type="email" class="form-control" id="email" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>


    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
    <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
  </form>
</main>
</div>