<div class="py-5 text-center d-flex flex-column mt-5 updateview container">
  <div class="form-signin  col-md-4  m-auto p-3">
    <form id="updateEmailBtn" >
      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="updateEmail"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Email address</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Change Email</button>
    </form>
  </div>
</div>
