<main class="container">
<div class="py-5 text-center d-flex flex-column mt-5 updateview container">
  <div class="form-signin  col-md-4  m-auto p-3">
    <form  id="updatePasswordBtn">
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="updatePassword"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Change Password</button>
    </form>
  </div>
</div>
</main>