.username {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.myhero {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.viewhero {
  height: 15vh;
}
.foottext {
  text-decoration: none !important;
  font-weight: bold;
  color: #d8d8d8;
}
.footerposition {
  position: fixed !important;
  bottom: 0;
  background-color: #1f2226;
  width: 100%;
}
.abouttext {
  text-decoration: none !important;
  font-weight: bold;
}
.updateview {
  height: 70%;
}
.productsize {
  width: 30% !important;
  height: 30% !important;
}

.cartimage {
  height: 70px;
  width: 70px;
  border-radius: 10px;
}
.heromargin {
  margin-bottom: 100px;
}

a#cartButton {
  width: auto;
  height: 44px;
  display: flex;
  align-content: center;
  align-items: center;
}
a#cartButton svg {
  margin: 0;
  width: 22px;
}

/* Navbar */
.navbar-toggler .icon-bar:nth-of-type(2) {
  top: 1px;
}

.navbar-toggler .icon-bar:nth-of-type(3) {
  top: 2px;
}

.navbar-toggler .icon-bar {
  position: relative;
  transition: all 500ms ease-in-out;
}

.navbar-toggler.active .icon-bar:nth-of-type(1) {
  top: 2px;
  transform: rotate(45deg);
}

.navbar-toggler.active .icon-bar:nth-of-type(2) {
  background-color: transparent;
}

.navbar-toggler.active .icon-bar:nth-of-type(3) {
  top: -2px;
  transform: rotate(-45deg);
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
  z-index: 1500;
}
.nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: #ffffff;
  --bs-link-hover-color-rgb: #5a23c8;
}
svg.bi,
svg.feather {
  margin-right: 8px;
  margin-top: -4px;
}
img.card-img-top {
  object-fit: cover;
  max-height: 235px !important;
  object-position: center;
  width: 100%;
  transition: object-position 300ms linear;
}

.navbar-toggler .icon-bar {
  display: block !important;
  width: 22px !important;
  height: 2px !important;
  border-radius: 1px !important;
  background: #fff;
  margin: 4px 0px;
}
button.navbar-toggler.active .icon-bar {
  margin: 0 !important;
}
button.navbar-toggler.active {
  height: 44px;
  width: 48px;
}
button.navbar-toggler {
  height: 44px;
  width: 48px;
}
#searchSubmit:hover svg.bi.bi-search {
  transform: scale(1.5);
}
#searchSubmit svg.bi.bi-search {
  margin: 0;
  transition: transform 220ms ease 80ms !important;
}


main.container{
  min-height: 90vh!important;
  height: 100%!important;
}
.album.bg-body-tertiary {
  padding-bottom: 26px;
}
footer.container.d-flex.footer.pt-5 {
  margin-top: 56px;
}

button.btn.btn-outline-danger.clearCartBtn {
  border: 0;
  height: 30px;
  width: 30px;
  padding: 0;
}